language: node_js
node_js:
- 10
- 8
- 6
- 4
cache:
  directories:
  - $HOME/.npm
  - $HOME/.yarn-cache
services:
- rabbitmq
- mongodb
script:
- npm run lint
- npm run coverage-ci
deploy:
  provider: npm
  email: xuzhipei@gmail.com
  api_key:
    secure: hE+jsY9cI0z4TD/wgrKm9Zk1Ie6KJS1vB6KJTjKMJ4a9pkZEiHfUklRl/axypn0OGqPg3NvIzFeLfFhBzs+zbkVs4T8uKi/7MZlXJ48BDgLtg/JWP9ez9MEugounPs9JHX/a017Yiner+7OEiyBldT3yk3YMx1ZI9Y7u2t9jez1gu1goTbCLVLvMqWPia0YC8hkvDmL+/HjSxzCT6ObvVaRkXxdlO3OsXardQY7yjlodj/ScaXVGVxPaMhhdxnFnCP02TD+wTFZpN+7dBc8LESJ/mPeCqmzdExHEVib4J3ScaYsj07mDYKm9CnZpI0qnasFcJnjmPM6qbXK/jD4jwKdOOoXksgL778qqPlW5Qt/qNfiDiRVhsJDdAIJ9Qaj5t4fNrnxvpF0SandAvpPxpw0yLAY2WbZt//gLFWw+P5q9WCffOfIgqFE+MFQG0CkOvGEdBXFPCFsglKE+hEYFbK89/uGrofj4wsaB4nzl4cBQSSEEOjuBlWfaLBYQOEyJIxz5p52FOJ+gaKHEM16/07oFginn1YwK50+jlM1O2NzdiiRiQHV5xfLW1coyWZZRdBpogv8s1q3WBhDA5y8JEvLbMXC0vjgC1o3DrLpHMWSML9nxnRcHixG78WRo4HfIQRzhHId8vArCvEXe0MJWdLDKIkEKh1PhX6nVngnIqes=
  on:
    tags: true
    repo: xizhibei/blackfyre
